$--cas-general-green: #00B725;
$--cas-general-blue: #409EFF;
$--cas-general-red: #EE5D4F;
$--cas-general-yellow: #F69E22;
$--cas-general-white: #FFFFFF;


$--cas-color1: #2470ff;
$--cas-color2: #306fcf;
$--cas-color3: #3097cf;
$--cas-color4: #30cfbc;
$--cas-color5: $--cas-general-green;
$--cas-color6: $--cas-general-yellow;
$--cas-color7: #2e77e5;
$--cas-color8: #4babb2;
$--cas-color9: $--cas-general-red;
$--cas-color10: #ffffff;
$--cas-color11: #58c269;



$--cas-text1: #333333;
$--cas-text2: #666666;
$--cas-text3: #999999;
$--cas-text4: #aaaaaa;
$--cas-text5: #cccccc;
$--cas-text6: #ffffff;
$--cas-text7: #316fd0;
$--cas-text8: #2470ff;

$--cas-border: #aeaeae;
$--cas-table-border: #e5edf6;

$--cas-slot-bg: #e6eef7;
$--cas-slot-primary: $--cas-general-red;

$--cas-btnBG-default: #ffffff;
$--cas-btnBG-info: #aeaeae;
$--cas-btnBG-primary: $--cas-color2;
$--cas-btnBG-success: $--cas-general-green;
$--cas-btnBG-warning: $--cas-general-yellow;
$--cas-btnBG-danger: $--cas-general-red;

$--cas-formTb-border: lightblue;
$--cas-formTb-labelBG: aliceblue;

$--cas-taskStatus-finish: $--cas-general-green;
$--cas-taskStatus-reported: $--cas-general-blue;
$--cas-taskStatus-toreview: $--cas-general-red;
$--cas-taskStatus-todo: $--cas-general-yellow;


$--cas-required--red:red;

$--cas-th-bg:#F9F9F9;


$--cas-abnormal-data-bg:#FF5050